*{  margin: 0;
    padding: 0;}
@import "variables/variables";
@import "sass2/extend";
@import "sass2/mixins";
@import "partials/header";
@import "partials/section";
@import "partials/footer";
@import "partials/anuncios";
@import "partials/bootstrap";
@import "partials/contacto";
@import "partials/nosotros";
@import "partials/queries";

