/*FUENTES*/
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700,900);

/*COLORES*/
$blanco: #ffffff;
$naranja: #E08709;
$verde: #71B100;
$backgraound: #333333;
$negro: #000000;
$gris: #4f4f4f;
$blanco-dos:#e1e1e1;
$gris-cards: #7a7a7a;
$negro-rgb: rgba(0,0,0,0.2);
$celeste: #2fb4cc;
$blanco-card: #fff;

/*GENERAL*/
$size: 1.6rem;
$h1: 3.8rem;
$h2: 3.4rem;
$h3: 3rem;
$h4: 2.6rem;
$tipo-de-letra:'Lato', sans-serif;

