@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixins";

.resumen-propiedad {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@include grid