@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixins";

.resumen-propiedad {
    display: flex;
    justify-content: space-between;
    align-items: center;
}  

.contenedor-anuncios{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
} 

.anuncio{
    flex: 0 0 calc(33.3% - 1rem);
}
