@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixins";


/** Footer **/
.site-footer {
    background-color: #333333;
    margin-top: auto;
    
}

.contenedor-footer {
    padding: 3rem 0;
    text-align: center;
}

.copyright {
    margin: 0;
    color: #ffffff;
}