@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixins";

/** Footer **/
.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2.2rem;
    margin-right: 2rem;
    display: block;

    .navegacion a:hover {
        color: #71B100;
    }

    .navegacion a:last-of-type {
        margin: 0;
    }
}



/** Footer **/
.site-footer {
    background-color: #333333;
    margin: 0;

    .contenedor-footer {
        padding: 3rem 0;
        text-align: center;
    }

    .copyright {
        margin: 0;
        color: #ffffff;
    }

}