@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixins";

/** Footer **/
.navegacion a {
    color: $blanco;
    text-decoration: none;
    font-size: 2.2rem;
    margin-right: 2rem;
    display: block;
}
.navegacion a:hover { 
    color: $verde;
}
.navegacion a:last-of-type {
    margin: 0;
}

.site-footer {
    background-color: $backgraound;
    margin: 0;

    .contenedor-footer {
    padding: 3rem 0;
    text-align: center;
}

    .copyright {
    margin: 0;
    color: $blanco;
}

}


