@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixins";

/* Header */
.site-header {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}
 
.site-header.inicio {
    background-image: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100%;
    min-height: 60rem;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.contenido-header h1 {
    color: #ffffff;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 20px;
}

.barra {
    padding-top: 3rem;
}

/** Navegacion **/

.navegacion a {
    color: #ffffff;
    text-decoration: none;
    font-size: 2.2rem;
    margin-right: 2rem;
    display: block;
}

.navegacion a:hover {
    color: #71B100;
}

.navegacion a:last-of-type {
    margin: 0;
}