@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixins";

@include botones-generales;
@include botones-hover;
@include section-utilidades;


/*** Testimoniales **/
.testimonial {
    background-color: #71B100;
    font-size: 2.4rem;
    padding: 2rem;
    color: #ffffff;
    border-radius: 2rem;

    .testimonial p {
        text-align: right;
    }

    .testimonial blockquote::before {
        content: '';
        background-image: url(../img/comilla.svg);
        width: 4rem;
        height: 4rem;
        position: absolute;
        left: -2rem;
    }

    .testimonial blockquote {
        position: relative;
        padding-left: 5rem;
        font-weight: 300;
    }
}